.basicfontStylings {
  color: #505050;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
}
.importantInfo {
  color: #0071bc;
}
.formContainer {
  padding: 30px 0px;
}
label {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  color: #505050f6;
}
.inputFieldContainer {
  font-weight: 500;
  height: auto;
  max-width: 376px;
  width: auto;
  padding: 18px 25px;
  margin-top: 8px;
  margin-bottom: 0px;
  background-color: #f7f9fc;
  padding: 18px 25px;
  display: flex;
  align-items: center;
}
.iconContainer {
  width: 20px;
  height: 14px;
  border: none;
}
.iconContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
}
.inputFieldContainer input {
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-family: inherit;
  color: #9fa3aa;
  margin-left: 0.5rem;
  flex: 1;
}
.rememberAccountSection {
  height: auto;
  max-width: 376px;
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
.rememberAccountSection > span {
  margin-left: 5px;
}
.forgetPassword {
  max-width: 376px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  margin-bottom: 20px;
}
.submitAndSignUp {
  width: 100%;
  display: flex;
  align-items: center;
}
.submitAndSignUp .leftSide {
  display: flex;
  align-items: flex-start !important;
  overflow-y: auto;
}
.submitAndSignUp .rightSide {
  margin-left: 30px;
}
.submitAndSignUp .rightSide .signUpText {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.submitAndSignUp .leftSide .submitBtnForm {
  width: 192px;
  height: 44px;
  background-color: #0071bc;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 0 auto;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 18px;
}
.submitAndSignUp .leftSide .submitBtnForm:hover {
  box-shadow: 0px 8px 20px rgba(0, 82, 137, 0.3);
}
@media screen and (max-width: 820px) {
  .submitAndSignUp {
    flex-direction: column;
  }
  .submitAndSignUp .leftSide,
  .submitAndSignUp .rightSide {
    margin: 0 auto;
    display: flex !important;
    justify-content: center !important;
  }
  .submitAndSignUp .rightSide {
    margin-top: 20px;
  }
}
