.lowerSection .stepFourGridContainer {
  max-width: 606px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: left;
  padding: 1rem;
}

.lowerSection .stepFourGridContainer .row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lowerSection .stepFourGridContainer .row .colContainer {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-between;
}
.lowerSection .stepFourGridContainer .row .colContainer .col {
  width: 170px;
}

.lowerSection .stepFourGridContainer .row .drugName {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #505050;
}

.lowerSection .stepFourGridContainer .row .colContainer .col label {
  font-size: 16px;
  font-weight: 400;
  color: #0e243a;
}
.lowerSection .stepFourGridContainer .row .colContainer .col input {
  margin-top: 12px;
  width: 100%;
  height: 56px;
  background: #ffffff;
  border: 1px solid rgba(80, 80, 80, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(40, 59, 91, 0.05);
  border-radius: 7px;
  padding: 16px;
  cursor: pointer;
}
.lowerSection .stepFourGridContainer .row .colContainer .col input:focus {
  border: 1px solid rgba(57, 181, 74, 0.4);
  box-shadow: 0px 10px 20px rgba(7, 118, 22, 0.1);
  background-color: #ffffff;
  color: #505050;
}
.lowerSection .stepFourGridContainer .row .colContainer .col2 {
  margin-left: 24px;
  margin-right: 24px;
}
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  background-color: #1abc9c;
  flex-direction: row;
  flex-wrap: wrap;
}
.child {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  width: 50px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .lowerSection .stepFourGridContainer .row .colContainer .col {
    width: 45%;
  }
  .lowerSection h3 {
    padding-top: 50px;
  }
  .lowerSection .stepFourGridContainer .row .colContainer .col2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .lowerSection .stepFourGridContainer .row .colContainer .col2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .lowerSection .stepFourGridContainer .row .colContainer .col3 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .lowerSection .stepFourGridContainer .row .colContainer .col {
    width: 48%;
  }
  .lowerSection h3 {
    padding-top: 0px;
  }
}
